@model FrmBlog.ViewData.FrmViewData
@using FrmBlog.Repositorys;   
@using Microsoft.Web.Mvc; 
@using FrmBlog.Controllers;  
@using FrmBlog.Helpers;     
@using FrmBlog.ModelData; 
@{
    ViewBag.Title = ViewBag.SiteName;    
}

@Html.Partial("ListeData")
<div class="clear"></div>
@if (Model.Paging.TotalCount > 0)
{ 
     @Html.Pager(Model.Paging, ViewData["queryData"] as string, (int? page, HtmlHelper htmlHelper, string queryData) =>
                            string.Format("{0}", this.Html.BuildUrlFromExpressionFG<HomeController>(c => c.Index(page))))
}                                                                                                                                                   			

@section SideBar{	
<div id="sidebar"> 
	<div id="sidebar-bottom"> 
		<div id="sidebar-content"> 			

 <div id="archives-3" class="widget widget_archive">
<h4 class="widgettitle">Etiketler</h4>
@Html.Partial("_SideBarTagList")
</div>


</div> <!-- end #sidebar-content --> 
	</div> <!-- end #sidebar-bottom --> 
</div> <!-- end #sidebar -->	
<div class="cbt"></div>
}

	
