@{
    ViewBag.Title = "KullanimIlkeleri";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Kullanim ilkeleri</h2>
<p>mayestro'yu daha kaliteli hale getirmek için aşağıdaki maddeleri uygulama konusunda duyarlılığınızı bekliyoruz:</p>
 <p>
Türkiye Cumhuriyeti'nin temel ve manevi değerlerine yönelik karalayıcı ve aşağılayıcı hiçbir eklentiye izin vermemekteyiz. Bu içeriğe sahip bütün eklentiler hiçbir uyarı olmaksızın silinecektir. Gerekli görülürse ilgili üyelik hiçbir uyarı olmaksızın kapatılacaktır.
 </p>
 <h4>Özgürlükler:</h4>
 <p>
 İfade özgürlüğünü destekliyoruz. Ancak, üyelerimize kendilerini özgür şekilde ifade etme şansı sunarken, başkalarını taciz etme ve karalama imkanı vermemekteyiz. Kişi veya grupların dinini, dilini, cinsiyetini, ırkını, etnik grubunu, milliyetini aşağılayıcı içeriğe izin vermemekteyiz. Saldırgan davranışlar, tehdit, taciz, özel yaşama saldırı, diğer kullanıcıların kişisel bilgilerinin ifşası hoşgörü sınırlarımızın dışındadır. Bu içeriğe sahip eklentiler hiçbir uyarı olmaksızın silenecektir. Gerekli görülürse, ilgili üyelik hiçbir uyarı olmaksızın kapatılacaktır.
 </p>
 <h4>Pornografi:</h4>
 <p>
 Pornografinin hiçbir türüne izin vermemekteyiz. Yetişkin cinsel organlarının, cinsel eylemlerin sergilendiği görüntüler veya yazılar hoşgörü sınırlarımızın dışındadır. Özellikle çocuk/ergen çıplaklığı, pornografisi veya bunları teşvik eden veya andıran ilanlar konusunda ciddi hassasiyet göstermekteyiz. Bu içeriğe sahip fotoğraf ve videolar hiçbir uyarı olmaksızın silinecektir. Gerekli görülürse ilgili üyelik hiçbir uyarı olmaksızın kapatılacaktır.
 </p>
 <h4>Zararlı Alışkanlıklar:</h4>
 <p>
 Satışı veya kullanımı reçeteye bağlı her türlü ilaç ile uyuşturucu madde kapsamına giren ve bağımlılık yaratan bilumum maddelerin tanıtımı, pazarlaması, tavsiyesi mahiyetinde ilanlar hiçbir uyarı olmaksızın silinecektir. Gerekli görülürse ilgili üyelik hiçbir uyarı olmaksızın kapatılacaktır.
 </p>
 <h4>Silahlar ve Patlayıcı Maddeler:</h4>
 <p>
 Yasadışı silah veya patlayıcı madde yapımı, pazarlaması veya kullanımına ilişkin içerik yayınlayan ilan hiçbir uyarı olmaksızın silinecektir. Gerekli görülürse ilgili üyelik hiçbir uyarı olmaksızın kapatılacaktır.
 </p>
 <h4>Resmi İçerik:</h4>
 <p>
 Görüntü alınmasına veya fotoğraf çekilmesine izin verilmeyen askeri veya diğer resmi kurumlara ait eklentiler hiçbir uyarı olmaksızın silinecektir. Gerekli görülürse ilgili üyelik hiçbir uyarı olmaksızın kapatılacaktır.
 </p>
 <h4>Yasal Sorumluluk:</h4>
 <p>
 Üyelerimiz, paylaşımlarındaki tüm bilgilerin niteliğinden ve içeriğinden münferiden kendileri sorumludur. Yukarıda belirtilen sınırlamaları aşan içeriğe sahip ilanların veya paylaşımların kullanıcılarına, devlet veya hak sahibi üçüncü şahıslar tarafından yöneltilen tüm hukuki ve cezai yaptırımlardan mayestro.net sorumlu olmayıp, bizzat üye sorumludur.
</p>