@using FrmBlog.Helpers;
@using Microsoft.Web.Mvc;
@using FrmBlog.Controllers;
@using FrmBlog.Models;
@using System.Security.Principal;
@using FrmBlog.Repositorys;
@{
    ViewBag.Title = "Tag";
    Layout = "~/Views/Shared/Yonetim.cshtml";
}

<h2>Tag</h2>
